*{
  font-family: 'Nunito Sans', sans-serif;
}


  .joinChatContainer {
    
    margin: 70px ;
    height: 750px;
    width: 1400px;
    text-align: center;
    background-color: #34383E;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }

  .hi1{ position: relative;
    color: #01D4C4;
    top:39px;
    right: 150px;
    font-size: 2rem ;

  }
  
  .HJ{
    font-weight: 10px;
    padding: 40px 30px;
    font-size: 3rem;
    color: #eee7e7;
    letter-spacing: 4px;
  }

  .h22{
    margin: 10px;
    top: 20px;
    padding:20px;
    font-size: 2rem;
    color: #eee7e7;
  }

  .HLL{
    padding: 30px ;
    width: 900px;
    position: relative;
    bottom: 40px;
    align-self: center;
    justify-content: center;
    left: 250px;
    color: #eee7e7;

  }

 
  
  