*{
  font-family: 'Nunito Sans', sans-serif;
}

.App{
    background-color: #121312;
}
  .joinChatContainer {
    
    margin: 70px ;
    height: 750px;
    width: 1400px;
    text-align: center;
    background-color: #0abcf9;
    background-image: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  
  .HJ{
    font-weight: 10px;
    padding: 40px 30px;
    font-size: 3rem;
    color: #eee7e7;
    letter-spacing: 4px;
  }

  .h22{
    margin: 10px;
    top: 20px;
    padding:20px;
    font-size: 2rem;
    color: #eee7e7;
  }

  .HLL{
    padding: 30px ;
    width: 900px;
    position: relative;
    bottom: 40px;
    align-self: center;
    justify-content: center;
    text-align: center;
    color: #eee7e7;

  }

  
  